.welcome {
    font: italic 1.2em "Fira Sans", serif;
    color:#ffffff;
    /* background-color: black; */
    font-size: 3rem;
    text-align: center;
    
   
}
p {
    font-size: 2rem;
    margin: 1.5rem 212px 11rem;
    background-color: #222222;
}

.logo {
    margin: 0 0 1.5rem;
    width: 10rem;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    
    margin: 1rem;
    margin-top: 10rem;
}

.signPage {
    /* margin: 0; */
}

  /* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */

.signPage {
    margin: 0;
}

.card {
    
    margin: 1rem;
    margin-top: 6rem;
}
body {
    margin: 6rem 0rem;
    
}
.welcome {
    font-size: 35px;
    
}

p {
  margin: 1.5rem 0;
  font-size: 22px;
  
}

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}