:root {
  --primary: #19c98e;
  --secondary: #5ca75c;
  --tertiary: #b2c2c1;
  --quatrinary: #b8d8b9;
  --light: #beffdb;
  --dark: #4c5353;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 50pt;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
  background-image: url(../src/images/background2.png);
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  width: 100%;
  justify-content: center;
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  transition: all 0.2s;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.page-title {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--secondary);
  transition: all 0.5s;
}

.btn:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-inline {
  display: inline;
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  background-color: var(--light);
  color: var(--dark);
}

.card-header {
  color: var(--secondary);
  margin: 0;
  background-color: var(--dark);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  padding: 2.5%;
  font-size: 1.4rem;
}

footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  color: white;
}

/* FORM */
.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.2rem 0;
  font-size: 1.2rem;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: var(--secondary);
  margin-right: 0.2rem;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid var(--secondary);
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--secondary);
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* LAYOUT */
.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 92%;
}

/* DISPLAY */
.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/* HEIGHT / WIDTH UTILS */
.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.min-100-vh {
  min-height: 100vh;
}

.min-100-vw {
  min-width: 100vw;
}

/* MARGIN/PADDING UTILS */

/* Margin - all sides */
.m-0 {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Portfolio Styles */
.media-img {
  object-fit: scale-down;
  height: 90px;
}