:root {
    --primary: #1e43e9;
    --dark: #e3eeee;
    --border-radius: 0.3rem;
  }

  .btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--dark);
  outline: none;
  background-color: var(--primary);
  transition: all 0.5s;
}

.btn:hover {
  color: var(--primary);
  background-color: var(--dark);
}

.btn-inline {
  display: inline;
}

.ml-auto {
    margin-left: auto;
  }
